# Title

In [1]:
import pandas as pd
import sklearn

In [4]:
d = pd.read_csv("../data/raw/parks_raw.csv")

In [5]:
d

,year,rank,city,med_park_size_data,med_park_size_points,park_pct_city_data,park_pct_city_points,pct_near_park_data,pct_near_park_points,spend_per_resident_data,...,rec_sr_points,restroom_data,restroom_points,splashground_data,splashground_points,amenities_points,total_points,total_pct,city_dup,park_benches
0,2020,1,Minneapolis,5.7,26.0,15%,38.0,98%,98.0,$319,...,100.0,2.9,91.0,4.0,100.0,79.3,341.0,85.3,Minneapolis,NaN
1,2020,2,"Washington, D.C.",1.4,5.0,24%,50.0,98%,98.0,$307,...,100.0,2.6,80.0,4.1,100.0,80.3,333.0,83.3,"Washington, D.C.",NaN
2,2020,3,St. Paul,3.2,14.0,15%,39.0,99%,99.0,$219,...,100.0,3.2,100.0,1.3,47.0,78.0,330.0,82.5,St. Paul,NaN
3,2020,4,"Arlington, Virginia",2.4,10.0,11%,28.0,99%,99.0,$301,...,76.0,3.1,97.0,2.2,81.0,89.0,326.0,81.5,"Arlington, Virginia",NaN
4,2020,5,Cincinnati,4.4,20.0,14%,36.0,82%,74.0,$190,...,100.0,3.2,98.0,4.5,100.0,92.5,323.0,80.6,Cincinnati,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,2012,36,Indianapolis,10.3,20.0,4.8%,4.0,32%,6.0,$43.61,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,31.0,NaN,1.5
709,2012,36,Mesa,3.2,7.0,2.6%,1.0,60%,22.0,$60.96,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,31.0,NaN,1.5
710,2012,38,Louisville,7.3,15.0,6.7%,6.0,32%,6.0,$50.76,...,NaN,NaN,NaN,NaN,NaN,NaN,35.0,29.0,NaN,1.0
711,2012,39,Charlotte,19.9,20.0,4.1%,3.0,26%,2.0,$78.94,...,NaN,NaN,NaN,NaN,NaN,NaN,34.0,28.5,NaN,1.0
712,2012,40,Fresno,4.9,10.0,2.1%,1.0,35%,8.0,$54.98,...,NaN,NaN,NaN,NaN,NaN,NaN,26.0,21.5,NaN,0.5